<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DHMI_PHONE_DİRECTORY_SYSTEM.Properties.Settings.DHMI_PHONE_DİRECTORY_SYSTEMConnectionString"
            connectionString="Data Source=DESKTOP-0P6JGIT\SQLEXPRESS;Initial Catalog=DHMI_PHONE_DİRECTORY_SYSTEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>